body {
    background: #3498db;
    font-family: sans-serif;
    font-size: 14px;
    color: #777;
    margin: auto;
    padding-top: 10px;
    max-width: 550px;
    display: block;
    justify-content: center;
    align-items: center;
}

#wiftable {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #FFFFFF;
}

table{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#twifi {
    width: 100%;
    overflow: hidden;
}

#twifi tr {
    border-bottom: 1px solid #ddd;
    width: 100%;
    float:left;
    cursor: pointer;
}

#twifihead {
    background-color: #5FADE2;
    color: #ffff;
}

#twifihead th {
    text-align: center;
}

#twifihead th,
#twifi td {
    word-wrap: break-word;
    height: 20px;
    padding-top: 5px;
}

#thssid,
#tdssid {
    float: left;
    width: 50%;
    text-align: center;
}

#tdssid {
    text-align: center;
}

#tdssid:hover, 
#tdrssi:hover,
#tdsecurity:hover,
#tdchannel:hover
{
    text-decoration-line: underline;
}

#tdrssi,
#thrssi {
    float: left;
    width: 10%;
    text-align: center;
}

#refresh {
    cursor: pointer;
    font-size: 13px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    float: left;
}

#tdsecurity,
#thsecurity {
    float: right;
    width: 25%;
}

#tdsecurity {
    text-align: center;
}

#thchannel,
#tdchannel {
    width: 13%;
    text-align: center;
    float: left;
}

#useaponly,
#btn-save{
    float: right;
    background-color: wheat;
    border-radius: 5px;    
    padding: 5px;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

#btn-save {
    float: left;
}

#btn-ok {
    background-color: lightgreen;
    float: right;
    font-size: 18px;
    padding: 5px;
    color: #000;
    cursor: pointer;
}

#useaponly{    
    cursor: default;
}

#savebtn {
    float: left;
}

#wificonfig {
    float: center;
}

#wifipass {
    width: 30%;
}

.passinput-background {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.passinput-content {
    background-color: #fefefe;
    font-size: 17px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
  
/* The Close Button */
.passclose {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
  
.passclose:hover,
.passclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    top: 100%;
    left: 50%;
    background-color: black;
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }