body {
    background: #3498db;
    font-family: sans-serif;
    font-size: 14px;
    color: #777;
    margin: auto;
    padding-top: 10px;
    width: 50%;
}

#navbuttons {
    width: 100%;
    /* height: 48px; */
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    height: 48px;
    font-size: 17px;
    width: 25%;
  }

#uploadfrm {
    width: 100%;
}

#uploadbtn{
    float: right;
}

#inpfile {
    display: none;
}

#linpfile {
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 18px;
    background-color: #f1f1f1;
    /* text-align: left; */
    float:left;
    cursor: pointer;
}

#fwlinpfile
{    font-size: 18px;
    background-color: #f1f1f1;
    /* text-align: left; */
    float:left;
    cursor: pointer;
    width: 50%;
}

#prgbar {
    background-color: #f1f1f1;
    border-radius: 2px
}

#iprgbar {
    background-color: #34db6c;
    width: 0%;
    height: 10px
}

.button {
    background: #f1f1f1;
    color: #777;
    cursor: pointer;
    font-size: 15px;
}

#refresh {
    cursor: pointer;
    font-size: 13px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    float: left;
}

#otaupload {
    position: relative;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
}

#ftable {
    float: right;
    padding: 5px;
    background-color: #FFFFFF;
}

#tfiles {
    padding: 2px;
    border-radius: 1em;
    overflow: hidden;
    border-collapse: collapse;
}

#tfiles tr {
    border-bottom: 1px solid #ddd;
    width: 100%;
    float:left;
}

#tfileshead {
    background-color: #5FADE2;
    color: #ffff;
    border-radius: 3px;
    width: 100%;
}

#tfileshead th {
    text-align: center;
}

#tfileshead th,
#tfiles td {
    word-wrap: break-word;
    height: 20px;
    padding-top: 5px;
}

#thname,
#tdname {
    float: left;
    width: 73%;
    text-align: center;
}

#tdname {
    text-align: left;
}

#tdsize,
#thsize {
    float: left;
    width: 10%;
    text-align: center;
}

#tdprint,
#thprint {
    float: left;
    width: 7%;
}

#tdprint {
    cursor: pointer;
    text-align: center;
}

#thdelete,
#tddelete {
    width: 6%;
    text-align: center;
    float: right;
}

#tddelete{    
    color: red;
    cursor: pointer;
}

#tpossts{
    width: 50%;
    float: left;
}

#tpossts td{
    float:left;
    height: 25px;
}

.lposinfo {
    font-weight: bold;
    color: white;
    font-size: 17px;
}

#posx,
#posy,
#posz {
 width: 60px;
 color: red;
}

#ttempsts{
    width: 50%;
    float: right;
}

#ttempsts td{
    float: right;
    height: 25px;
}

.posinfo
{
    /* float: left; */
    width: 25%;
}
#tposition {
    border: none;
}

#commandArea {
    background-color: #FFFFFF;
    padding: 5px;
}

#commandsText {
    max-width: 768px;
    margin-top: 10px;
    width: 100%;
    min-height: 160px;
    padding: 0;
}

#commandForm {
    margin-top: 10px;
    width:90%;
    float: left;
}

#jogPanel{
    float:left;
}

#userinput{
    float: right;
    width: 17%;
}
#userinput label{
    padding: 5px;
}
#itemperature {
    padding: 5px;
    width:20%;
}


#icommand {
    width: 80%;
}

#lcommand {
    color: lightcoral;
}

#cmdSendBtn {
    background-color: #555;
    color: white;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 10px;
    font-size: 14px;
    /* width: 25%; */
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

@media screen and (max-width:800px) {
    .column {
        width: 100%;
    }
}

.sliderthumb {
    position: absolute;
    cursor: pointer;
  }

  .sliderrange {
    cursor: pointer;
  }

  .extlist {
    position: absolute;
    cursor: pointer;
  }

  .hotspot {
    cursor: pointer;
  }

  text.centerjog {
    font-weight: 600;
    text-anchor: middle;
    font-size: 26px;
    font-family: sans-serif;
    pointer-events: none;
  }

  text.home {
    font-weight: 800;
    text-anchor: middle;
    font-size: 14px;
    font-family: sans-serif;
    pointer-events: none;
  }

  text.positionbar {
    font-weight: 600;
    text-anchor: middle;
    font-size: 16px;
    font-family: sans-serif;
    pointer-events: none;
    width: 100%;
  }

  text.textpositionbar {
    font-weight: 400;
    text-anchor: end;
    font-size: 12px;
    font-family: sans-serif;
    pointer-events: none;
    fill: #FF0000;
  }

  text.textbutton {
    font-weight: 400;
    text-anchor: middle;
    font-size: 26px;
    font-family: sans-serif;
    fill: #FFFFFF;
    filter: url(#emboss);
    pointer-events: none;
  }

  path.msk {
    fill: #0052E1;
  }

  circle.bg2 {
    stroke: #0D2F38;
    fill: #B93D3D;
    pointer-events: none;
    stroke-width: 0.5;
  }

  circle.bg,
  path.bg {
    stroke: #0D2F38;
    fill: #608B98;
    pointer-events: none;
    stroke-width: 0.5;
  }

  rect.bg {
    stroke: #0D2F38;
    fill: #608B98;
    pointer-events: none;
    stroke-width: 1;
  }

  rect.bgpositionbar {
    stroke: #707070;
    fill: #BCCED3;
    pointer-events: none;
    stroke-width: 1;
  }

  path.sign {
    pointer-events: none;
    fill: #000000;
  }

  path.mskjog {
    opacity: 0;
    fill: #0052E1;
  }