* {
    box-sizing: border-box;
  }

body {
    line-height: 1.25;
    background: #1E2227;
    font-family: sans-serif;
    color: white;
}

#container {
    width: 800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: white;
}

table {
    color: black;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table td {
    cursor: pointer;
    word-wrap: break-word;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

#wifi-scan{
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    background-color: lightgreen;
    width: 100%;
}

#wifi-scan:hover {
    background-color: darkgreen;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    top: 100%;
    left: 50%;
    background-color: white;
    color: black;
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.overlay-background {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(22, 14, 37, 0.568);
}

.overlay-content {
    background: #1E2227;
    margin: 0 auto;
    padding: 20px;
    height: 150px;
    border: 1px solid #888;
    width: 60%;
}

.overlay-content input{
    height: 35px;
    width: 50%;
    float: right;
}

.overlay-close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.overlay-close:hover,
.overlay-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#wifi-aponly,
#btn-save,
#btn-ok{
    color: #444444;
    background: #F3F3F3;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 1.2em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    cursor: pointer;
    float: left;
    width: 45%;
}

#wifi-aponly:hover,
#btn-save:hover,
#btn-ok:hover{
    color: #333333;
    background: #F7F7F7;
}

#btn-save {
    float: right;
}
#btn-ok {
    width: 30%;
}

@media (max-width:800px) {
    #container {
        width: 100%;
    }

    .tooltip .tooltiptext {
        left: 20%;
    }

    .overlay-content {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {

    .tooltip .tooltiptext {
        left: 0%;
    }

    .overlay-content {
        width: 99%;
    }

    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: center;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}