body {
    background: #1E2227;
    font-family: sans-serif;
    font-size: 14px;
    color: #777;
    margin: auto;
    padding-top: 10px;
    width: 768px;
}

#status{
    overflow: hidden;
}

#abortbtn {
    height: 30px;
    font-size: 17px;
    float: right;
    border: none;
    outline: none;
    background-color: red;
    display: none;
}

#printprogress{
    float: left;
    width: 100%;
    display: none;
}

#lprintprg {
    float: left;
    color: white;
}

#prinprg {
    width: 85%;
    float: right;
}

#tpossts{
    width: 100%;
    display: table;
}

#tpossts td{
    height: 25px;
}

.lposinfo {
    font-weight: bold;
    font-size: 17px;
}

#posx,
#posy,
#posz {
    font-size: 17px;
    width: 55px;
    color: black;
}

#lprintersts {
    width: 100%;
    font-size: large;
    color: red;
    text-align: center;
}

#ttempsts{
    width: 100%;
}

#ttempsts td{
    color: red;
}

#navbuttons {
    width: 100%;
    overflow: hidden;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    height: 48px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: rgb(85, 120, 141);
}

#filestab {
    overflow: hidden;
}

#printerctrl {
    overflow: hidden;
    background-color: white;
    padding: 2px;
}

#uploadfrm,
#fwuploadfrm {
    width: 100%;
}

#uploadbtn{
    float: right;
}

#inpfile,
#fwinpfile {
    display: none;
}


#lfwinpfile,
#linpfile {
    margin: 5px 0px 0px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    background-color: #f1f1f1;
    float:left;
    cursor: pointer;
    width: 50%;
}

#linpfile {
    width: 40%;
}

#prgbar,
#fwprgbar {
    margin: 0px 5px 5px 5px;
    background-color: #f1f1f1;
    border-radius: 2px
}

#iprgbar,
#fwiprgbar {
    background-color: #34db6c;
    width: 0%;
    height: 10px
}

input[type=submit],
#cmdSendBtn {
    margin: 5px 5px 0px 0px;
    padding: 0px 15px;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 18px;
}

#fwinput {
    float: right;
}

#refresh {
    cursor: pointer;
    font-size: 13px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    float: left;
}

#wifireset {
    cursor: pointer;
    margin: 5px 5px 0px 5px;
    padding: 0px 15px;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 18px;
    text-align: center;
}
.settings-container {
    width: 100%;
}

#setting-header {
    width: 100%;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

#setting-content {
    margin-top: 10px;
}

.setting {
    float: left;
    width: 49%;
    height: 180px;
    margin-top: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#settings-stats {
    float: right;
}

#ftable {
    background-color: #FFFFFF;
}

#tfiles {
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
}

#tfiles tr {
    border-bottom: 1px solid #ddd;
    width: 100%;
    float:left;
}

#tfileshead {
    background-color: #5FADE2;
    color: #ffff;
    border-radius: 3px;
}

#tfileshead th {
    text-align: center;
}

#tfileshead th,
#tfiles td {
    word-wrap: break-word;
    height: 20px;
    padding-top: 5px;
}

#thname,
#tdname {
    float: left;
    width: 73%;
    text-align: center;
}

#tdname {
    text-align: left;
}

#tdsize,
#thsize {
    float: left;
    width: 10%;
    text-align: center;
}

#tdprint,
#thprint {
    float: left;
    width: 7%;
}

#tdprint {
    cursor: pointer;
    text-align: center;
}

#thdelete,
#tddelete {
    width: 6%;
    text-align: center;
    float: right;
}

#tddelete{
    color: red;
    cursor: pointer;
}

#jogPanel{
    float:left;
    width: 64%;
    border: 1px darkslategrey solid;
    border-radius: 10px;
}
#userinp{
    width: 35%;
    overflow: hidden;
}
#tuserinp{
    background-color: white;
    float: right;
}

#truserinp{
    padding: 5px;
}

#tddesc{
    width: 48.5%;
}

#sdtotalbar {
    background-color: peachpuff;
    margin: 0px 5px 5px 5px;
}

#spiffstotalbar {
    margin-top: 20px;
    background-color: red;
}

.iucmd{
    width: 100%;
    text-align: center;
    padding: 5px;
    float: right;
}

#cmdarea {
    background-color: #FFFFFF;
    float: left;
    padding: 1px;
    width: 99.7%;
}
#cmdarea label{
  font-weight: 600;
}

#cmdtext {
    max-width: 759px;
    width: 99.5%;
    min-height: 160px;
    padding: 0;
}

#icommand {
    width: 75%;
}

#cmdSendBtn {
    float: right;
}

#lcommand {
    color: lightcoral;
}

#spacer-vertical {
    height: 3px;
    width: 100%;
    background-color: darkgrey;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

@media screen and (max-width:768px) {
    .column {
        width: 100%;
    }
}

.sliderthumb {
    position: absolute;
    cursor: pointer;
  }

  .sliderrange {
    cursor: pointer;
  }

  .extlist {
    position: absolute;
    cursor: pointer;
  }

  text.centerjog {
    font-weight: 600;
    text-anchor: middle;
    font-size: 26px;
    font-family: sans-serif;
    pointer-events: none;
  }

  text.home {
    font-weight: 800;
    text-anchor: middle;
    font-size: 14px;
    font-family: sans-serif;
    pointer-events: none;
  }

  text.positionbar {
    font-weight: 600;
    text-anchor: middle;
    font-size: 16px;
    font-family: sans-serif;
    pointer-events: none;
    width: 100%;
  }

  text.textpositionbar {
    font-weight: 400;
    text-anchor: end;
    font-size: 12px;
    font-family: sans-serif;
    pointer-events: none;
    fill: #FF0000;
  }

  text.textbutton {
    font-weight: 400;
    text-anchor: middle;
    font-size: 26px;
    font-family: sans-serif;
    fill: #FFFFFF;
    filter: url(#emboss);
    pointer-events: none;
  }

  path.msk {
    fill: #0052E1;
  }

  circle.bg2 {
    stroke: #0D2F38;
    fill: #B93D3D;
    pointer-events: none;
    stroke-width: 0.5;
  }

  circle.bg,
  path.bg {
    stroke: #0D2F38;
    fill: #608B98;
    pointer-events: none;
    stroke-width: 0.5;
  }

  rect.bg {
    stroke: #0D2F38;
    fill: #608B98;
    pointer-events: none;
    stroke-width: 1;
  }

  rect.bgpositionbar {
    stroke: #707070;
    fill: #BCCED3;
    pointer-events: none;
    stroke-width: 1;
  }

  path.sign {
    pointer-events: none;
    fill: #000000;
  }

  path.mskjog {
    opacity: 0;
    fill: #0052E1;
  }